# Part 3 - Create and load staging tables

# Included Modules and Packages

Code cell containing your includes for modules and packages

In [1]:
import csv

import json

import math
import numpy as np
import pandas as pd

import psycopg2

# Supporting code

Code cells containing any supporting code, such as connecting to the database, any functions, etc.  

Remember you can freely use any code from the labs. You do not need to cite code from the labs.

In [2]:
#
# function to run a select query and return rows in a pandas dataframe
# pandas puts all numeric values from postgres to float
# if it will fit in an integer, change it to integer
#

def my_select_query_pandas(query, rollback_before_flag, rollback_after_flag):
    "function to run a select query and return rows in a pandas dataframe"
    
    if rollback_before_flag:
        connection.rollback()
    
    df = pd.read_sql_query(query, connection)
    
    if rollback_after_flag:
        connection.rollback()
    
    # fix the float columns that really should be integers
    
    for column in df:
    
        if df[column].dtype == "float64":

            fraction_flag = False

            for value in df[column].values:
                
                if not np.isnan(value):
                    if value - math.floor(value) != 0:
                        fraction_flag = True

            if not fraction_flag:
                df[column] = df[column].astype('Int64')
    
    return(df)

In [3]:
connection = psycopg2.connect(
    user = "postgres",
    password = "project",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

OperationalError: could not translate host name "postgres" to address: Name or service not known

In [ ]:
cursor = connection.cursor()

# 2.3.1 Drop the staging table stage_1_peak_sales if it exists

Pattern your code after the examples in the labs.

In [ ]:
connection.rollback()

query = """

Replace with your SQL

"""

cursor.execute(query)

connection.commit()

# 2.3.2 Drop the staging table stage_1_peak_stores if it exists

Pattern your code after the examples in the labs.

In [ ]:
connection.rollback()

query = """

Replace with your SQL

"""

cursor.execute(query)

connection.commit()

# 2.3.3 Drop the staging table stage_1_peak_customers if it exists

Pattern your code after the examples in the labs.

In [ ]:
connection.rollback()

query = """

Replace with your SQL

"""

cursor.execute(query)

connection.commit()

# 2.3.4 Drop the staging table stage_1_peak_line_items if it exists

Pattern your code after the examples in the labs.

In [ ]:
connection.rollback()

query = """

Replace with your SQL

"""

cursor.execute(query)

connection.commit()

# 2.3.5 Create the staging table stage_1_peak_sales

Use the same technique we used in the labs.

The first column should be stage_id with the data type as serial.

For each field in the CSV file, create a column as varchar(100).

Remember we do not set a primary key in staging tables.

Pattern your code after the examples in the labs.

In [ ]:
connection.rollback()

query = """

Replace with your SQL

"""

cursor.execute(query)

connection.commit()

# 2.3.6 Create the staging table stage_1_peak_stores

Use the same technique we used in the labs.

The first column should be stage_id with data type as serial.

For each field in the CSV file, create a column as varchar(100).

Remember we do not set a primary key in staging tables.

Pattern your code after the examples in the labs.

In [ ]:
connection.rollback()

query = """

Replace with your SQL

"""

cursor.execute(query)

connection.commit()

# 2.3.7 Create the staging table stage_1_peak_customers

Use the same technique we used in the labs.

The first column should be stage_id with data type as serial.

For each field in the CSV file, create a column as varchar(100).

Remember we do not set a primary key in staging tables.

Pattern your code after the examples in the labs.

In [ ]:
connection.rollback()

query = """

Replace with your SQL

"""

cursor.execute(query)

connection.commit()

# 2.3.8 Create the staging table stage_1_peak_line_items

Use the same technique we used in the labs.

The first column should be stage_id with data type as serial.

For each field in the CSV file, create a column as varchar(100).

Remember we do not set a primary key in staging tables.

Pattern your code after the examples in the labs.

In [ ]:
connection.rollback()

query = """

Replace with your SQL

"""

cursor.execute(query)

connection.commit()

# 2.3.9 Load the CSV file peak_sales.csv into the table stage_1_peak_sales

Use the same technique we used in the labs.

Remember the stage_id column is a serial and will auto populate, so we need to leave it off the column list for the load.

Pattern your code after the examples in the labs.

In [ ]:
connection.rollback()

query = """

Replace with your SQL

"""

cursor.execute(query)

connection.commit()

# 2.3.10 Load the CSV file peak_stores.csv into the table stage_1_peak_stores

Use the same technique we used in the labs.

Remember the stage_id column is a serial and will auto populate, so we need to leave it off the column list for the load.

Pattern your code after the examples in the labs.

In [ ]:
connection.rollback()

query = """

Replace with your SQL

"""

cursor.execute(query)

connection.commit()

# 2.3.11 Load the CSV file peak_customers.csv into the table stage_1_peak_customers

Use the same technique we used in the labs.

Remember the stage_id column is a serial and will auto populate, so we need to leave it off the column list for the load.

Pattern your code after the examples in the labs.

In [ ]:
connection.rollback()

query = """

Replace with your SQL

"""

cursor.execute(query)

connection.commit()

# 2.3.12 Load the CSV file peak_line_items.csv into the table stage_1_peak_line_items

Use the same technique we used in the labs.

Remember the stage_id column is a serial and will auto populate, so we need to leave it off the column list for the load.

Pattern your code after the examples in the labs.

In [ ]:
connection.rollback()

query = """

Replace with your SQL

"""

cursor.execute(query)

connection.commit()

# 2.3.13 Verify the load of stage_1_peak_sales by querying the entire table

Query the entire table into a Pandas dataframe.  

Remember to sort by stage_id so the rows are in the same order as the CSV file to make comparison easier.

Pattern your code after the examples in the labs.  

The query should return 97 rows into a Pandas dataframe. The first and last rows should look similar to this: 

||stage_id|sale_id|sale_date|sub_total|tax|total_amount|
|---|---|---|---|---|---|---|
|0|1|5763728874|2020-10-03|12|0|12|
|...|...|...|...|...|...|...|
|96|97|5763728673|2020-10-03|48|0|48|

In [ ]:
rollback_before_flag = True
rollback_after_flag = True

query = """

Replace with your SQL

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

# 2.3.14 Verify the load of stage_1_peak_stores by querying the entire table

Query the entire table into a Pandas dataframe.  

Remember to sort by stage_id so the rows are in the same order as the CSV file to make comparison easier.

Pattern your code after the examples in the labs.  

The query should return 97 rows into a Pandas dataframe. The first and last rows should look similar to this: 

||stage_id|sale_id|location_id|name|street|city|state|zip|
|---|---|---|---|---|---|---|---|---|
|0|1|5763728874|12573|Acme Gourmet Meals|3000 Telegraph Ave|Berkeley|CA|94705|
|...|...|...|...|...|...|...|...|...|
|96|97|5763728673|12573|Acme Gourmet Meals|3000 Telegraph Ave|Berkeley|CA|94705|

In [ ]:
rollback_before_flag = True
rollback_after_flag = True

query = """

Replace with your SQL

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

# 2.3.15 Verify the load of stage_1_peak_customers by querying the entire table

Query the entire table into a Pandas dataframe.  

Remember to sort by stage_id so the rows are in the same order as the CSV file to make comparison easier.

Pattern your code after the examples in the labs.  

The query should return 97 rows into a Pandas dataframe. The first and last rows should look similar to this: 

||stage_id|sale_id|customer_id|first_name|last_name|street|city|state|zip|
|---|---|---|---|---|---|---|---|---|---|
|0|1|5763728874|3728404|Darrelle|Dohrmann|46 Farwell Terrace|Oakland|CA|94609|
|...|...|...|...|...|...|...|...|...|...|
|96|97|5763728673|3728691|Eula|Dewair|3 Crownhardt Road|Albany|CA|94706|

In [ ]:
rollback_before_flag = True
rollback_after_flag = True

query = """

Replace with your SQL

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

# 2.3.16 Verify the load of stage_1_peak_line_items by querying the entire table

Query the entire table into a Pandas dataframe.  

Remember to sort by stage_id so the rows are in the same order as the CSV file to make comparison easier.

Pattern your code after the examples in the labs.

The query should return 352 rows into a Pandas dataframe. The first and last rows should look similar to this: 

||stage_id|sale_id|line_item_id|product_id|price|quantity|taxable|
|---|---|---|---|---|---|---|---|
|0|1|5763728874|1|42314780|12|1|N|
|...|...|...|...|...|...|...|...|
|351|352|5763728673|3|42314782|12|1|N|

In [ ]:
rollback_before_flag = True
rollback_after_flag = True

query = """

Replace with your SQL

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)